$backgroundImg: url("../images/jtlicon.png");
$bottomImg: url("../images/bottom-tel.png");
* {
    padding: 0;
    margin: 0;
}

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul {
    margin: 0;
    padding: 0;
}

em {
    font-style: normal;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #545151;
}

img {
    border: none;
}

table {
    border-collapse: collapse;
}

input,
textarea {
    outline: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

html {
    width: 100%;
    min-width: 1200px;
    height: 100%;
    font-size: 100px;
}

body {
    background-color: #ffffff;
    font: 14px/1.5 Arial, "Microsoft Yahei";
    background-color: #ffffff;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

button.navbar-toggle {
    display: block;
    background-color: #000000;
}

#header {
    width: 100%;
    height: 120px;
    border-bottom: 2px solid #000000;
    .l_logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1200px;
        height: 40px;
        padding: 20px 0;
        margin: 0 auto;
        .logo {
            width: 350px;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            .l_img {
                width: 184px;
                height: 40px;
                background: url(../images/logo.png) no-repeat; // background-image: $backgroundImg;
                // background-repeat: no-repeat;
                // background-position: -347px -124px;
                margin-right: 10px;
                background-size: 184px;
            }
            .l_o {
                color: #999;
                text-align: center;
            }
        }
        .l_graw {
            display: flex;
            justify-content: center;
            align-items: center;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 104px;
                height: 40px;
                margin-right: 12px;
                &:before {
                    margin-right: 6px;
                    display: block;
                    content: "";
                    width: 40px;
                    height: 40px;
                    background-image: $backgroundImg;
                    background-repeat: no-repeat;
                    background-position: -228px -165px;
                } // width: 40px;
                // height: 40px;
                // background-image: $backgroundImg;
                // background-repeat: no-repeat;
                // background-position: -228px -165px;
            }
            .l_g_2 {
                &:before {
                    background-position: -332px -210px;
                }
            }
            .l_g_3 {
                &:before {
                    background-position: -272px -165px;
                }
            }
        }
        .l_400 {
            // width: 350px;
            display: flex;
            justify-content: flex-end;
            justify-items: flex-end;
            align-items: center;
        }
    }

    .menu {
        // display: flex;
        //    justify-content: flex-start;
        //    align-items: center;
        width: 1170px;
        margin: 0 auto;
        height: 40px;
        ul {
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            li {

                text-align: center;
                width: 120px;
                height: 40px;
                line-height: 40px;
                background-color: #ffffff;
                &.menu_index {
                    background-color: #000000;
                    a {
                        color: #ffffff;
                    }
                }
                a {
                    width: 120px;
                    height: 40px;
                    font-size: 16px;
                    text-decoration: none;
                    color: #000000;
                }
            }
        }
    }
}

#footer {
    // display: none;
    width: 100%;
    height: 435px;
    background-color: #2d3236;
    .f_content {
        display: flex;
        align-items: center;
        height: 375px;
        width: 1200px;
        margin: 0 auto;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 300px;
            li {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                width: 300px; // border-right: 1px dashed #474c50;
                height: 300px;
                &:nth-child(2) {
                    width: 298px;
                }
                &:nth-child(2) {
                    width: 299px;
                }
                h1 {
                    height: 40px;
                    font-size: 16px;
                }
                .li_item {
                    height: 175px;
                    color: #999;
                }
            }
            .form_design {
                input {
                    display: block; // float: left;
                    height: 40px;
                    line-height: 40px;
                    width: 220px;
                    padding-left: 10px;
                    font-size: 13px;
                    color: #999;
                    margin-bottom: 5px;
                    border: none;
                }
                .btn {
                    display: block;
                    float: left;
                    width: 230px;
                    height: 40px;
                    line-height: 40px;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    background: #d4bb56;
                    cursor: pointer;
                }
            }
            .friends_link {
                .f_spans {
                    display: flex;
                    flex-wrap: wrap;
                    height: 175px;
                    padding: 0 50px;
                    margin-top: 10px;
                    width: 198px;
                    border-left: 1px dashed #474c50;
                    border-right: 1px dashed #474c50;
                    span {
                        display: block;
                        height: 37px;
                        line-height: 30px;
                        width: 99px;
                        text-align: center;
                        font-size: 14px;
                        color: #999;
                        cursor: pointer;
                        &:hover {
                            color: #c0a354;
                        }
                    }
                }
            }
            .contact {
                p {
                    display: none;
                    color: #999;
                }
                .z_phone {}
                .b_phone {}
                .li_item {
                    margin-top: 20px; // height: 151px;
                    width: 155px;
                    padding: 0 72px 0 0;
                    background: $bottomImg no-repeat center center;
                    border-right: 1px dashed #474c50;
                }
            }
            .code {
                .li_item {
                    display: flex;
                    justify-content: center;
                }
                .wechat {
                    margin: 12px;
                    text-align: center;
                    &:before {
                        display: block;
                        content: "";
                        width: 120px;
                        height: 120px;
                        background: url(../images/gzh.jpg) no-repeat; // background-image: $backgroundImg;
                        // background-repeat: no-repeat;
                        // background-position: 0px -124px;
                        margin-bottom: 6px;
                    }
                }
                .miniprograms {
                    margin: 12px;
                    text-align: center;
                    &:before {
                        display: block;
                        content: "";
                        width: 120px;
                        height: 120px;
                        background: url(../images/miniprograms.png) no-repeat center;
                        margin-bottom: 6px;
                        background-size: 120px;
                    }
                }
            }
        }
    }
    .f_extra {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: #23282c;
        p {
            color: #ababab;
            font-size: 0.14rem;
            text-align: center;
        }
    }
}